* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}


.navbar__s1__title {
    color: rgb(113, 175, 200);
}

.navbar__s2 {
    padding: 10px;
    border: solid black;
    border-radius: 30px;
    width: 70%;
    display: flex;
    gap: 10px;
    align-items: center;

}

.navbar__s2 input {
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
}

.navbar__s2 input :focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories {
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.categories p {
    background-color: rgb(71, 185, 233);
    color: black;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    border:solid rgb(71, 185, 233)2px;
}

.categories p:hover {
    transition: 1s;
    background-color: transparent;
    color: black;
    border:solid rgb(71, 185, 233) 2px;

}

.sale-image {
    position: relative;
}

.sale-image img {
    width: 100%;

}

.sale-image__offer {
    width: 35%;
    border: solid black 2px;
    background-color: rgb(153, 228, 231);
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.recommended__title,
.recommended__desc {
    padding: 15px;
}


.recommended__container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 15px;
    flex-wrap: wrap;
    flex-grow: 1;

}

.course-card {

    width: 250px;
}

.course-card img {
    height: 60%;
    width: 90%;
}


.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid rgb(2, 76, 76) 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 16%;
}

.popular__title,
.popular__desc {
    padding: 15px;
}

.popular__container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 15px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.course-card {

    width: 250px;
}

.course-card img {
    height: 65%;
    width: 105%;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 20px;

}

.footer__two {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}